<a href="https://colab.research.google.com/github/BrunoBento8/Data_Analytics-study/blob/main/Variaveis__Tipos_de_Dados_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

# **Exercícios**

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
A = 3*320.52
print(A)

961.56

In [ ]:
# (B)
B = 834.47/119.21
print(B)
print(type(B))

7.000000000000001
<class 'float'>

In [ ]:
# (C)
c = 15378.12/5
print(c)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.upper())
print(cancao.lower())
print(cancao.find('mundo'))
print(cancao.replace('roda', 'bola'))

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
roda mundo, roda gigante, roda moinho, roda pião.
5
Roda mundo, bola gigante, bola moinho, bola pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [ ]:
selic = noticia[12:16]
print(selic)

ano = noticia[-7]
print(ano)

2,75
6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

print (x)
print( a & b)

True
False